
.personas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* a{
  display: flex;
  flex-direction: rox;
  margin: auto;
  max-width: 1000px;
  display: inline-block;
  margin: .5rem auto;
  background-color: #3f525c;
  box-sizing: border-box;
} */
