h1{
    display: flex;
    justify-content: center;
}

div.barra{
    margin: 0px 4px;
}

.fill-space{
    flex: 1 1 auto;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px; 
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}