<h1>Editar persona</h1>

<br>

<form fxLayout="row" fxLayoutAlign="space-between center" [formGroup]="formulario" (ngSubmit)="onSubmit()"> <!-- (ngSubmit)="onSubmit()"-->

    <div>
        <mat-form-field>
            <input matInput type="text" class="form-control" formControlName="name" placeholder="Usuario">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput type="text" class="form-control" formControlName="password" placeholder="Contraseña">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput type="text" class="form-control" formControlName="surname" placeholder="Apellidos">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput type="text" class="form-control" formControlName="company_email" placeholder="Email de empresa">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput type="text" class="form-control" formControlName="personal_email" placeholder="Email personal">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput type="text" class="form-control" formControlName="city" placeholder="Población">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput type="text" class="form-control" formControlName="created_date" placeholder="Fecha de nacimiento">
        </mat-form-field> 
    </div>

</form>
<br>


<button mat-raised-button type="submit" (click)="onSubmit()">
    Actualizar
    <mat-icon matSuffix>mode_edit</mat-icon>
</button>  <!--[disabled]="!formulario.valid"-->
<button mat-raised-button class="btn" (click)="iniciaFormulario()">
    Restaurar
    <mat-icon matSuffix>autorenew</mat-icon>
</button> 



<!-- 
<div class="contenedor" *ngIf="persona"> 
    
    <form (submit)="submit()">
        <div class="form-group">
            <label for="id">id</label>
            <input type="number" class="form-control" formControlName="id">
        </div>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="surname">surname</label>
            <input type="text" class="form-control" formControlName="surname">
        </div>
        <div class="form-group">
            <label for="personal_email">personal_email</label>
            <input type="text" class="form-control" formControlName="personal_email">
        </div>
        <div class="form-group">
            <label for="created_date">created_date</label>
            <input type="text" class="form-control" formControlName="created_date">
        </div>

    </form>    

</div> 

<button class="btn update" type="submit" (click)="submit()">Enviar</button>   
--> 