<!-- <p>persona-detail works!</p> -->

<!--<div class="contenedor" *ngIf="persona"> -->
    <mat-card class="tarjeta" *ngIf="persona!=null">
        <mat-card-header>
          <mat-card-title>{{persona.name}}</mat-card-title>
          <mat-card-subtitle>{{persona.surname}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="https://espacodoafiliado.com.br/upload_clientes/73673/userfiles/images/artigos/ganhar%20dinheiro%20com%20blog/como%20ganhar%20dinheiro%20com%20blog.png">

        <mat-card-content>
          <h3>{{persona.personal_email}}</h3>
          <p>
            <strong>Ciudad de nacimiento:</strong>{{persona.city}}
            <br>
            <strong>Fecha de nacimiento:</strong>{{persona.created_date}}
          </p>
        </mat-card-content> 

        <mat-card-actions>
          <button mat-button (click)="updatePersona(persona.id)" color="warn">Editar</button>
          <button mat-button (click)="borrar(persona.id)" color="warn">Borrar</button> 
        </mat-card-actions> 

      </mat-card>
<!-- </div> -->

