<!-- <p>persona-detail works!</p> -->

<div class="contenedor" *ngIf="persona"> 
    <mat-card class="tarjeta" *ngIf="persona!=null">
        <mat-card-header>
          <div mat-card-avatar><img mat-card-image src="https://www.elsoldemexico.com.mx/doble-via/zcq7d4-perro.jpg/ALTERNATES/LANDSCAPE_1140/perro.jpg" class="circular"></div>
          <mat-card-title>{{persona.name}}, {{persona.surname}}</mat-card-title>
          <mat-card-subtitle>Id:{{persona.id}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.elsoldemexico.com.mx/doble-via/zcq7d4-perro.jpg/ALTERNATES/LANDSCAPE_1140/perro.jpg">
        <mat-card-content>
          <p>Email:{{persona.personal_email}}</p>
          <p>Fecha:{{persona.created_date}}</p>
        </mat-card-content> 
        <mat-card-actions>
          <button mat-flat-button (click)="updatePersona(persona.id)" color="primary">Editar persona</button>
        </mat-card-actions> 
        
      <button class="borrar" title="borrar persona" (click)="borrar(persona.id)">Borrar</button> 

      </mat-card>
</div>

